<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121814419718-7rspqk77qk5iuqohag71v2tt7dcj215c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121814419718-7rspqk77qk5iuqohag71v2tt7dcj215c</string>
	<key>API_KEY</key>
	<string>AIzaSyAhq0pMRYOrg1ZrV73PrkL5gIXlKtk0UpM</string>
	<key>GCM_SENDER_ID</key>
	<string>121814419718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idanmoshe.forexconverter</string>
	<key>PROJECT_ID</key>
	<string>forex-converter</string>
	<key>STORAGE_BUCKET</key>
	<string>forex-converter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121814419718:ios:e8346f19d279da20b8b687</string>
	<key>DATABASE_URL</key>
	<string>https://forex-converter.firebaseio.com</string>
</dict>
</plist>